@import url('./main-layout.css');
@import url('./views/dashboard-view.css');
@import url('./views/transactions-view.css');
@import url('./views/vehicels-view.css');
@import url('./views/assets-view.css');